<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456194470833-9qhm3rjc43eq1647p4hvcd5hd32luggp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456194470833-9qhm3rjc43eq1647p4hvcd5hd32luggp</string>
	<key>API_KEY</key>
	<string>AIzaSyC9-yoXH6F6XvZ5TOU_C_mnyuJBKbzaCW8</string>
	<key>GCM_SENDER_ID</key>
	<string>456194470833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.run4them</string>
	<key>PROJECT_ID</key>
	<string>run4them-1b0cf</string>
	<key>STORAGE_BUCKET</key>
	<string>run4them-1b0cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456194470833:ios:1f116082fb8059f4524390</string>
	<key>DATABASE_URL</key>
	<string>https://run4them-1b0cf.firebaseio.com</string>
</dict>
</plist> 